services:
  postgres:
    image: postgres:16-alpine
    container_name: ttn-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 20

  pgadmin:
    image: dpage/pgadmin4:8.14
    container_name: ttn-pgadmin
    restart: unless-stopped
    user: "0:0"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    volumes:
      - ./data/pgadmin:/var/lib/pgadmin
    depends_on:
      - postgres

  api:
    build: ./api
    container_name: ttn-api
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "${APP_PORT}:8000"
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  pgadmin_data:
